* {
  font-family: sans-serif;
}

ul {
  padding-inline-start: 1.2em;
}

li {
  list-style: none;
  line-height: 1.5em;
}

section ul li ul li ul li {
  font-size: 0.8em;
}

section ul li ul li ul li::marker {
  content: "🐶";
}

section ul li ul li:nth-of-type(2) ul li::marker {
  content: "🐱";
}

section ul li:nth-of-type(2) ul li ul li::marker {
  content: "🦅";
}

section ul li:nth-of-type(3) ul li ul li::marker {
  content: "🐍";
}

section ul li:nth-of-type(3) ul li:nth-of-type(2) ul li::marker {
  content: "🦎";
}
